In [6]:
#!pip install sklearn_crfsuite
#!pip install missingno
#!pip install eli5
#!pip install altair
#!pip install gensim
#!pip install wordcloud
#!pip install pyspellchecker
#!pip install emoji
#!pip install nltk

In [7]:
# Import libraries

#Basic libraries for Python
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import altair as alt
import warnings

#NLP required libraries
import nltk
import sklearn_crfsuite
import eli5
from sklearn import metrics
from sklearn import pipeline
from string import punctuation

from nltk.corpus import stopwords
from nltk.tokenize import TweetTokenizer
from nltk.tree import *
from nltk.draw import tree
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize

from nltk.stem import WordNetLemmatizer

from sklearn.feature_extraction.text import TfidfVectorizer as TfidV
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from collections import Counter

from gensim.models.word2vec import Word2Vec
from gensim.models.tfidfmodel import TfidfModel

unable to import 'smart_open.gcs', disabling that module

In [8]:
# Read in the dataset
train = pd.read_csv('train.csv', index_col = False)
test = pd.read_csv('test.csv', index_col = False)

In [9]:
train

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1